/* PLEASE DON'T CHANGE EVERYTHING BETWEEN '\/* ... *\/' blabla '\/* end of ... *\/' */

/* css components */
@import url('./components/paneDeviceConnection/paneDeviceConnection.css');
@import url('./pages/Page404/Page404.css');
@import url('./pages/PageAbout/PageAbout.css');
@import url('./pages/PageHome/PageHome.css');
/* end of css components */

/* css components plugin */
/* end of css components plugin */


/* your costume code */

main-element {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    width: 100vw;
    height: 100vh;

	--sidebar-color:#F8F9FA;
	--sidebar-border: 0.1vw solid #CFD1D3;
	--sidebar-width: 300px;
	--sidebar-transition: 0.3s;
}

.hidden {
	display: none !important;
}

.show {
	opacity: 1;
}
